:host {
  //position : relative;
  display       : grid;
  grid-template : auto/1fr;
  align-content : center;
  overflow-y    : hidden;
  position      : absolute;
  top           : 0;
  bottom        : 0;
  left          : 0;
  right         : 0;
}

.slide {
  position : absolute;
  width    : 100%;
  top      : 0;
  bottom   : 0;
  left     : 0;
  right    : 0;
}

.background {
  width : 100%;
}

.text-area {
  display : grid;
  //justify-content : center;
  //align-content   : center;

  span {
    white-space : pre-wrap;
  }
}

.slide-grid {
  display : grid;
}

.chart {

}
