<ng-container *ngIf="slide" [ngSwitch]="slide.slideType">
  <ng-container *ngSwitchCase="'text'">
    <div class="text-area slide">
      <span [ngStyle]="style">{{slide.text}}</span>
    </div>
  </ng-container>
  <img *ngSwitchCase="'image'" [ngStyle]="style" class="background" [src]="slide.img">
  <ng-container *ngSwitchCase="'chart'">
    <div class="chart">
      <canvas #canvas [id]="slide.id"></canvas>
    </div>
  </ng-container>
  <div *ngSwitchCase="'grid'" class="slide-grid slide" [ngStyle]="style">
    <app-slide-display *ngFor="let area of slide.areas"
                       [slideStyle]="slideStyle"
                       [style.grid-area]="area"
                       [slide]="slide.slides[area]"></app-slide-display>
  </div>
  <ng-container *ngSwitchCase="'stack'">
    <app-slide-display *ngFor="let subSlide of slide.slides" [slide]="subSlide" [slideStyle]="style"></app-slide-display>
  </ng-container>
  <div *ngSwitchDefault="" class="text-area slide" style="color: red">Can't find case for slide type '{{slide.slideType}}'</div>
</ng-container>
